
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');
*{
    font-family: 'noto sans',sans-serif;
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    display:flex;
    align-content: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding:  19px  12px;
}
ul{
    display: flex;

}
ul li{
    list-style: none;
    padding: 0 13px;
  
}
main{
    min-height: 100vh;
    padding: 2px;
}
ul li a{
    color:white;
    text-decoration: none;
}
ul  >li >a:hover{
    color: rgb(128, 128, 128);
}
footer{
    font-size: 12px;
    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
}
.container{
    
    max-width: 80vw;
    margin: auto;
    padding: 9px 15px ;
}
@media  only screen and(max-width:600px) {
body{
    background-color: lightblue;
}
.container{
    font-size: 12px;
}
nav{
    flex-direction: column;
}
.logo{
    padding: 6px;
    font-size: 12px;
    
}
.logo span{
    font-size: 20px;
}

}
img{
   width: 23px;
    filter: invert(1);
}
.container h1{
    padding: 12px 0;
}
.btn{
    background-color: black;
    color: white;
    padding: 9px  12px;
    border:1px solid grey; 
    border-radius: 6px;
    cursor: pointer;
}
#resultcont div::first-letter {
    text-transform: uppercase;

}
input[type="text"]{
    min-width: 24vw;
    padding: 3px 12px;
    border:2px solid black;
    border-radius: 2px;
    font-size: 20px;
}